.portfolio {
  padding: 50px 0;
}
.portfolio-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 30px;
}

.portfolio .wrapper {
  padding: 30px 0;
  gap: 30px;
}

.portfolio__content--item {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__content--item img {
  width: 100%;
  height: auto;
  transition: all 5s ease;
}

.portfolio__content--item:hover img {
  transform: translateY(-80%);
}

@media screen and (max-width: 1000px) {
  .portfolio-inside {
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portfolio__content--item {
  width: 85%;
  }
}
@media screen and (max-width: 500px) {
.portfolio__content--item {
  width: 90%;
}
}