@import url(https://fonts.googleapis.com/css2?family=Inder&display=swap);

@import url("header.css");
@import url("main.css");
@import url("about.css");
@import url("cv.css");
@import url("skill.css");
@import url("banner.css");
@import url("portfolio.css");
@import url("footer.css");

:root {
  --yellow: #ff8e5e;
  --white: #fff;
  --mainBg: #1e1e1e;
  --blackLight: rgba(0, 0, 0, 0.2);
  --dark: #1d1e22;
  --yellowLight: #ffc5b2;
  --border: rgba(255, 255, 255, 0.05);
  --gray: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inder", sans-serif;
  scrollbar-width: none;
}

/* -------------------------------- main classes  --------------------------*/

body {
  background: var(--mainBg);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  padding: 15px 25px;
  border-radius: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn.btn-white {
  color: var(--white);
  border: 1px solid var(--white);
  transition: all 0.5s ease;
}

.btn.btn-white:hover {
  color: var(--dark);
  background-color: var(--white);
  cursor: pointer;
}

.btn.btn-yellow {
  color: var(--dark);
  background-color: var(--yellow);
  transition: all 0.5s ease;
}

.btn.btn-yellow:hover {
  color: var(--yellow);
  background-color: var(--yellowLight);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
